APP_NAME=CERNosphere
APP_ENV=local

# Base de données
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=cernosphere
DB_USERNAME=cern_user
DB_PASSWORD=cern_password

# Services
FRONTEND_PORT=3000
BACKEND_PORT=8000
AI_SERVICE_PORT=5000